<html>
<head>
	<title>weConnect</title>
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-md-7 mt-2">
				<div class="jumbotron">
					<h1 class="display-3">Welcome to WeConnect</h1>
					<p class="lead">
						Here at WeConnect you'll be able to share your bgusness with others after creating your account
					</p>
					<hr class="m-y-md">
					<p>
						Singup to Explore and be expolored... Enjoy!
					</p>

				</div>
			</div>
			<div class="col-md-5 mt-2">
				<div class="register-form">
					<form action="" method="POST" role="form">
						<legend>Login to WeConnect</legend>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="password">
						</div>


						<button type="submit" class="btn btn-primary btn-block">
							Login
						</button>
					</form>
					<small><a href="/api/auth/register">Register instead</a></small>
				</div>

			</div>
		</div>


	</div>

</body>
</html>